/* Fonts */

.heading-l {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.heading-m {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.heading-s {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.body-m {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.markdown-code {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 14px;
}

.p-h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 32px;
}

.p-h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 28px;
}

.p-h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 24px;
}

.p-h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 20px;
}

.p-h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 16px;
}

.p-h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 14px;
}

.p-para {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 14px;
}

.p-blockquote {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 14px;
}

/* Colours */
:root {
    --white: #fff;
    --grey-200: #F5F5F5;
    --grey-300: #E4E4E4;
    --grey-400: #C1C4CB;
    --grey-500: #7C8187;
    --grey-600: #5A6069;
    --grey-700: #35393F;
    --grey-800: #2B2D31;
    --grey-900: #1D1F22;
    --grey-1000: #151619;
    --orange: #E46643;
    --orange-hover: #F39765;
}

/* Sidebar */
#sb-wr {
    display: none;
}
























/* The switch container */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider (background) */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  