/* General */

html, body {
  height: 100%;
  margin: 0;
  /* background-color: var(--grey-1000); */
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

.app-wrapper {
  display: flex;
}

.primary-btn {
  align-items: center;
  background-color: var(--orange);
  border: none;
  padding: 11px 0px;
  border-radius: 4px;  
}

.primary-btn:hover {
  background-color: var(--orange-hover);
}

/* Sidebar */
#sb-wr {
  width: 250px;
  background-color: var(--grey-900);
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Take full height of viewport */
  padding: 23px;
  box-sizing: border-box;
  display: none;
}

.sb-doclist-wr {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sb-title {
  margin-top: 6px;
  margin-bottom: 23px;
}

#newdoc-btn {
  width: 100%;
  margin-bottom: 25px;
}

.sb-doc-wr {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-right: 20px;
}

.sb-doc-wr:hover {
  border-right: 1px solid #979797;
}

.sb-doc-details-wr {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
  word-wrap: break-word; /* This property ensures that long words will break and wrap onto the next line */
  overflow-wrap: break-word; /* This is the standard name for the property, while word-wrap is an older name (for compatibility) */
  max-width: 100%;
}

.sb-theme-wr {
  margin: auto 0 0 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.sb-doc-name {
  word-wrap: break-word; /* This property ensures that long words will break and wrap onto the next line */
  overflow-wrap: break-word; /* This is the standard name for the property, while word-wrap is an older name (for compatibility) */
  max-width: 100%;
}

/* Header */

#hdr-wr {
  height: 72px;
  display: flex;
  background-color: var(--grey-800);
  width: 100%; /* Ensure header takes full width */
}

.hdr-menu-icon-wr {
  height: 72px;
  width: 72px;
  padding: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-700);
}

.hdr-menu-icon {
  width: 30px;
  height: 18px;
}

.hdr-main-col1-wr {
  display: flex;
  align-items: center;
  padding: 16px;
}

.hdr-title-wr {
  border-right: 1px solid var(--grey-600);
  height: 100%;
  display: flex;
  align-items: center;
}

h1 {
  padding: 0 20px 0 7px;
}

.hdr-main-col2-wr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-left: 10px;
  width: 100%;
}

.hdr-doc-wr {
  display: flex;
  align-items: center;
}

.hdr-doc-icon {
  width: 14px;
  height: 16px;
}

.hdr-doc-details-wr {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hdr-doc-btns-wr {
  display: flex;
  align-items: center;
  gap: 22px;
}


#save-doc-btn {
  display: flex;
  gap: 7px;
  padding: 11px 15px;
}

.hdr-doc-name {
  background-color: var(--grey-800);
  border: none;
}

.hdr-doc-name:focus {
  outline: none;
  border-bottom: 1px solid #979797;
}



/* Main */

.app-wrapper {
  display: flex;
  max-width: 100vw;
  overflow-x: hidden; /* Prevent horizontal overflow */
  mmin-height: 100vh;
}

#main-wr {
  display: flex;
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-grow: 1; /* Allow main content to grow */
  flex-direction: column;
  min-height: 100vh;
}

.markdown-col,
.preview-col {
  flex-grow: 1; /* Allow both columns to grow */
  flex-basis: 0; /* Ensure both columns take equal space */
  max-width: 50%; /* Maximum width is 50% */
  min-width: 0; /* Allow columns to shrink */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.markdown-col {
  border-right: var(--grey-600) solid 1px;
}

.main-hdr {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 17px;
  background-color: var(--grey-900);
}

#markdown-input {
  width: 100%;
  height: 100%;
  resize: none;
  font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey-400);
    background-color: var(--grey-1000);
    border: none;
    outline: none;
    overflow: visible;
}

#markdown-input {
  overflow: auto; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

#markdown-input::-webkit-scrollbar {
  width: 0;
  background: transparent; 
}

.preview-hdr-wr {
  display: flex;
  justify-content: space-between;
}

.markdown-content, .preview-content {
  flex-grow: 1;
  padding: 15px;
  background-color: var(--grey-1000);
}

.preview-content {
  padding: 25px;
}

/* Modal */

#delete-modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1); /* White background with 10% opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.delete-modal-content-wr {
  background-color: var(--grey-900);
  margin: 10% auto;
  padding: 20px;
  width: 343px;
  border-radius: 4px;
  opacity: 1;
}

.delete-modal-details-wr {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#delete-modal-close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delete-modal-wr {
  width: 343px;
  background-color: var(--grey-900);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 4px;
  margin: 10% auto;
}

.delete-modal-title {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.delete-modal-msg {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: var(--grey-400);
  line-height: 24px;
}

/* Pop up message */ 

#popupContainer {
  display: none;
  position: fixed;
  top: 36px;
  right: 130px;
  transform: translate(-50%, -50%);
  background-color: var(--grey-1000);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
}

#popupMessage {
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

.fadeOut {
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}










/*######################## MISC ############################*/

/* Scroll Bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--grey-700);
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--orange-hover);
}


/* The switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 45px; /* Set width to 45px */
  height: 22px; /* Set height to 22px */
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider (background) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-600);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 22px; /* Adjusted border-radius */
  width: 45px; /* Set width to 45px */
  height: 22px; /* Set height to 22px */
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px; /* Set height to 22px */
  width: 14px; /* Set width to 22px */
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px); /* Adjusted translation */
  -ms-transform: translateX(22px); /* Adjusted translation */
  transform: translateX(22px); /* Adjusted translation */
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px; /* Adjusted border-radius */
}

.slider.round:before {
  border-radius: 50%;
}

  